---
---

<div class="drop-down-component-button">
  <slot name="button" />
</div>
<div class="drop-down-component-body border-t border-gray-100" data-status="folded">
  <slot />
</div>

<script>
  import { zip } from "lodash-es";

  const buttons = document.querySelectorAll<HTMLDivElement>(".drop-down-component-button");
  const bodies = document.querySelectorAll<HTMLDivElement>(".drop-down-component-body");
  const buttonBodyPairs = zip(buttons, bodies);

  buttonBodyPairs.forEach(([button, body]) => {
    if (button === undefined) {
      throw new Error("Expected not undefined 'button', but received 'undefined'.");
    }
    if (body === undefined) {
      throw new Error("Expected not undefined 'body', but received 'undefined'.");
    }

    button.addEventListener("click", () => {
      const foldedStatus = getFoldedStatus(body);

      if (foldedStatus === "folded") {
        unfold(body);
        return;
      }
      if (foldedStatus === "unfolded") {
        fold(body);
        return;
      }
    });
  });

  function getFoldedStatus(body: HTMLDivElement): "folded" | "unfolded" {
    const { status } = body.dataset;
    if (status === undefined || status !== "folded" && status !== "unfolded") {
      throw new Error(`Expected 'status' to be 'folded' or 'unfolded', but received '${status}'`);
    }

    return status;
  }

  function fold(body: HTMLDivElement): void {
    setBody(body, "folded", 0);
  }

  function unfold(body: HTMLDivElement): void {
    setBody(body, "unfolded", body.scrollHeight);
  }

  function setBody(body: HTMLDivElement, status: "folded" | "unfolded", height: number): void {
    body.dataset.status = status;
    body.style.maxHeight = `${height}px`;
  }
</script>

<style>
  .drop-down-component-body {
    max-height: 0;
    transform-origin: top;
    transition-property: opacity, max-height, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .drop-down-component-body[data-status="folded"] {
    transform: scaleY(0);
    opacity: 0;
  }
  .drop-down-component-body[data-status="unfolded"] {
    transform: scaleY(1);
    opacity: 1;
  }
</style>
