---
---

<div class="drop-down-component-button">
  <slot name="button" />
</div>
<div class="drop-down-component-body border-t border-gray-100" data-status="folded">
  <slot />
</div>

<script>
  const buttons = document.querySelectorAll(".drop-down-component-button");
  const bodies = document.querySelectorAll(".drop-down-component-body");
  buttons.forEach((button, i) => {
    button.addEventListener("click", () => {
      // validation
      const body = bodies[i];
      if (!(body instanceof HTMLElement)) {
        throw new Error(`Expected HTMLElement, but received '${body.className}'`);
      }
      const { dataset } = body;
      if (dataset.status === undefined || dataset.status !== "folded" && dataset.status !== "unfolded") {
        throw new Error(`Expected 'status' to be 'folded' or 'unfolded', but received '${dataset.status}'`);
      }

      if (dataset.status === "folded") {
        dataset.status = "unfolded";
        body.style.maxHeight = `${body.scrollHeight}px`;
        return;
      }
      if (dataset.status === "unfolded") {
        dataset.status = "folded";
        body.style.maxHeight = "0px";
        return;
      }
    });
  });
</script>

<style>
  .drop-down-component-body {
    max-height: 0;
    transform-origin: top;
    transition-property: opacity, max-height, transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }
  .drop-down-component-body[data-status="folded"] {
    transform: scaleY(0);
    opacity: 0;
  }
  .drop-down-component-body[data-status="unfolded"] {
    transform: scaleY(1);
    opacity: 1;
  }
</style>
