---
interface Props {
  class?: string;
}

const { class: classNames, ...props } = Astro.props;
---

<li {...props} class:list={["block border-t border-gray-100", classNames]}>
  <slot />
</li>

<style>
  @reference "@/styles/global.css";

  li:first-child {
    @apply border-t-0;
  }
</style>
