---
---

<li class="block list-item-component">
  <slot />
</li>

<style>
  @reference "../../styles/global.css";

  .list-item-component {
    @apply border-t border-gray-100;
  }
  .list-item-component:first-child {
    @apply border-none;
  }
</style>
