---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

type BlogEntryData = CollectionEntry<"blog">["data"];
interface Props extends BlogEntryData { }

const { title, date, summary, thumbnail } = Astro.props;
---

<div class="flex items-center gap-3">
  {
    thumbnail !== undefined && (
      <div class="w-1/4 md:w-36">
        <Image
          src={thumbnail}
          alt="Thumbnail"
          quality="100"
          width="150"
          height="100"
          class="border border-zinc-50 rounded-md w-full object-cover"
        />
      </div>
    )
  }
  <div class="flex-1 text-zinc-900">
    <p class="text-lg font-bold">{title}</p>
    {
      summary !== undefined && (
        <p class="text-zinc-700">{summary}</p>
      )
    }
    <p class="text-sm text-zinc-400">{date.toLocaleDateString("ko-KR")}</p>
  </div>
</div>
