---
import Base from "../../layouts/Base.astro";
import Footer from "../../components/common/Footer.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../../scripts/utils/formatters";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("blog");
  const staticPaths = entries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));

  return staticPaths;
}

type BlogEntry = CollectionEntry<"blog">;
interface Entry extends Pick<BlogEntry, "body" | "collection" | "data" | "render"> {
  id: string,
  slug: string,
}
interface Props {
  entry: Entry,
}

const { entry } = Astro.props;
const { title, date } = entry.data;
const { Content } = await entry.render();
---

<Base pageTitle={title}>
  <div class="space-y-8 p-3">
    <header class="space-y-1.5">
      <h1 class="text-lg font-semibold md:text-2xl">{title}</h1>
      <p class="text-sm text-zinc-500">{formatDate(date)}</p>
    </header>

    <main class="
        space-y-2 font-regular text-justify text-sm
        md:text-base
        [&>h1]:font-semibold [&>h1]:text-lg [&>h1]:before:mt-10 [&>h1]:before:block
        [&>h2]:font-semibold [&>h2]:text-md [&>h2]:before:mt-8 [&>h2]:before:block
        [&>.astro-code]:p-2 [&>.astro-code]:rounded [&>.astro-code]:text-sm
        [&>.katex-display]:overflow-x-auto [&>.katex-display]:overflow-y-hidden
        [&>p>a]:text-blue-500
      " id="article-body">
      <Content />
    </main>
  </div>
  <div class="mt-12">
    <a href="/">
      <div class="rounded-md bg-gray-100 p-2 w-1/2">돌아가기</div>
    </a>
  </div>
  <div class="mt-12">
    <Footer />
  </div>
</Base>
