---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import PostList from "@/components/page/list/PostList.astro";
import { sortBlogCollectionByDate } from "@/scripts/utils/collections";
import ChevronBlock from "@/components/page/chevron/ChevronBlock.astro";
import ChevronLink from "@/components/page/chevron/ChevronLink.astro";
import ChevronLeft from "@/components/icon/ChevronLeft.svg";
import ChevronRight from "@/components/icon/ChevronRight.svg";
import ListPage from "@/layouts/ListPage.astro";
import Section from "@/components/page/Section.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = sortBlogCollectionByDate(await getCollection("posts"));

  return paginate(posts, { pageSize: 8 });
}

const { page } = Astro.props;
---

<ListPage title="Posts">
  <Section heading={`Page ${page.currentPage}`}>
    <PostList articles={page.data} />
    <ChevronBlock class="mt-4">
      {
        page.url.prev !== undefined ? (
          <ChevronLink href={page.url.prev} direction="left">
            Page {page.currentPage - 1}
            <div slot="icon">
              <ChevronLeft />
            </div>
          </ChevronLink>
        ) : (
          <div />
        )
      }
      {
        page.url.next !== undefined ? (
          <ChevronLink href={page.url.next} direction="right">
            Page {page.currentPage + 1}
            <div slot="icon">
              <ChevronRight />
            </div>
          </ChevronLink>
        ) : (
          <div />
        )
      }
    </ChevronBlock>
  </Section>
</ListPage>
