---
import { getCollection } from "astro:content";
import type { GetStaticPathsOptions } from "astro";
import ArticleList from "@/components/page/ArticleList.astro";
import { sortBlogCollectionByDate } from "@/scripts/utils/collections";
import Heading from "@/components/core/Heading.astro";
import ChevronLeft from "@/components/icon/ChevronLeft.svg";
import ChevronRight from "@/components/icon/ChevronRight.svg";
import ListPage from "@/layouts/ListPage.astro";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = sortBlogCollectionByDate(await getCollection("blog"));

  return paginate(posts, { pageSize: 8 });
}

const { page } = Astro.props;
---

<ListPage pageTitle="Posts">
  <div>
    <Heading>Page {page.currentPage}.</Heading>
    <ArticleList articles={page.data} />
    <div class="flex justify-between">
      <div class="flex-0 flex">
        {
          page.currentPage > 1 && (
            <a
              class="block flex-0 flex gap-1 items-center text-[14px] text-gray-400 font-light hover:text-gray-800 transition-[color]"
              href={page.url.prev}
            >
              <ChevronLeft />
              <p class="py-2 w-auto whitespace-nowrap">
                Page {page.currentPage - 1}
              </p>
            </a>
          )
        }
      </div>
      <div class="flex-0 flex">
        {
          page.currentPage < page.lastPage && (
            <a
              class="block flex-0 flex gap-1 items-center text-[14px] text-gray-400 font-light hover:text-gray-800 transition-[color]"
              href={page.url.next}
            >
              <p class="py-2 w-auto whitespace-nowrap">
                Page {page.currentPage + 1}
              </p>
              <ChevronRight />
            </a>
          )
        }
      </div>
    </div>
  </div>
</ListPage>
