@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans KR", "sans";
  --font-serif: "Noto Serif KR", "sanf-serif";
  --font-mono: "Noto Sans Mono", "monospace";
  --font-display: "Secular One", "sans";
}
