---
import ArticleList from "@/components/page/ArticleList.astro";
import { sortBlogCollectionByDate } from "@/scripts/utils/collections";
import { getCollection } from "astro:content";
import Heading from "@/components/core/Heading.astro";
import ListPage from "@/layouts/ListPage.astro";
import ChevronLeft from "@/components/icon/ChevronLeft.svg";
import GrayLink from "@/components/page/GrayLink.astro";

export async function getStaticPaths() {
  const blog = sortBlogCollectionByDate(await getCollection("blog"));
  const series = await getCollection("series");

  return series.map((seriesEntry) => ({
    params: { slug: seriesEntry.data.slug },
    props: {
      description: seriesEntry.data.description,
      posts: blog.filter((post) => post.data.series === seriesEntry.id),
      name: seriesEntry.id,
    },
  }));
}

const { description, posts, name } = Astro.props;
---

<ListPage pageTitle="Series">
  <div class="mb-2">
    <Heading>Series.</Heading>
    <div class="mt-1 mb-7">
      <p class="text-[17.5pt] font-medium mb-1">{name}</p>
      <p class="text-[11.5pt] font-light text-gray-600">{description}</p>
    </div>
  </div>
  <ArticleList articles={posts} />
  <div class="mt-4 flex">
    <div class="flex-0">
      <GrayLink href="./../">
        <div class="block flex gap-1 items-center text-[14px] font-light">
          <ChevronLeft />
          <p class="whitespace-nowrap">RETURN</p>
        </div>
      </GrayLink>
    </div>
  </div>
</ListPage>
