---
import Heading1 from "@/components/core/Heading1.astro";
import config from "@/config";

const { github, email } = config.contacts;
---

<footer class="text-gray-800">
  <Heading1><span class="font-display"><a href="/">{config.app.title}.</a></span></Heading1>
  <p class="text-[12px] font-light md:text-[14px]">{config.app.subtitle}</p>
  <nav class="mt-4 text-[12px] md:text-[14px] font-light list-none">
    <li><a href={github}>GITHUB</a></li>
    <li><a href={email}>EMAIL</a></li>
  </nav>
</footer>

<style>
nav li {
  @apply inline pr-4 mr-4 border-r border-gray-500;
}
nav li a {
  @apply py-1.5;
}
nav li:last-child {
  @apply pr-0 mr-0 border-none;
}
</style>
