---
import config from "@/config";
import Heading1 from "@/components/core/Heading1.astro";
---

<footer class="py-8 border-gray-800 border-t text-gray-800">
  <Heading1><span class="font-display"><a href="/">{config.app.title}.</a></span></Heading1>
  <p class="text-[12px] font-light md:text-[14px]">{config.app.subtitle}</p>
</footer>
