---
import Heading from "@/components/core/Heading.astro";
import config from "@/config";

const { github, email } = config.contacts;
---

<footer class="text-gray-800">
  <Heading><span class="font-display"><a href="/">{config.app.title}.</a></span></Heading>
  <p class="text-[12px] font-light md:text-[14px]">{config.app.subtitle}</p>
  <nav class="mt-4 text-[12px] md:text-[14px] font-light list-none">
    <li class="inline"><a href={github} class="py-1.5">GITHUB</a></li>
    <li class="inline pl-4 ml-4 border-l border-gray-500"><a href={email} class="py-1.5">EMAIL</a></li>
  </nav>
</footer>