---
import Base from "../layouts/Base.astro";
import { getCollection } from "astro:content";

const collection = await getCollection("blog");
---

<Base pageTitle="Home">
  <main class="text-zinc-950">
    <h1 class="m-3 font-bold text-2xl font-display">Articles.</h1>
    <ul class="block m-3">
      {
        collection.map(entry => (
          <li class="block border-t border-zinc-50">
            <a href={`post/${entry.slug}`} class="block py-3">
              <div class="flex items-center gap-3">
                <div class="w-20 h-12 rounded-md border border-zinc-100 md:w-32 md:h-20"></div>
                <div>
                  <p class="text-lg font-bold">{entry.data.title}</p>
                  <p class="text-zinc-900">{entry.data.summary}</p>
                  <p class="text-sm text-zinc-400">{(new Date(entry.data.date)).toLocaleDateString("ko-KR")}</p>
                </div>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Base>
