---
import Base from "../layouts/Base.astro";
import Card from "@components/articles/Card.astro";
import { getCollection } from "astro:content";

const collection = await getCollection("blog");
---

<Base pageTitle="Home">
  <main class="text-zinc-950">
    <h1 class="m-3 font-bold text-2xl font-display">Articles.</h1>
    <ul class="block m-3">
      {
        collection.map(entry => {
          const { slug, data } = entry;
          const { title, date, summary, thumbnail } = data;

          return (
            <li class="block border-t border-zinc-50">
              <a href={`post/${slug}`} class="block py-3">
                <Card
                  title={title}
                  date={new Date(date)}
                  summary={summary}
                  thumbnail={thumbnail}
                />
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</Base>
