---
import { getCollection } from "astro:content";
import ArticleList from "@/components/page/ArticleList.astro";
import SeriesList from "@/components/page/SeriesList.astro";
import Base from "@/layouts/Base.astro";
import { selectFeatured, selectNonfeatured, selectSeries, sortBlogCollectionByDate } from "@/scripts/utils/collections";
import { groupSeries } from "@/scripts/utils/collections";

const articles = sortBlogCollectionByDate(await getCollection("blog"));
const featured = selectFeatured(articles);
const nonfeatured = selectNonfeatured(articles);
const series = selectSeries(articles);
---

<Base pageTitle="Home">
  <div class="mb-12 pt-12 border-t-8 border-gray-800">
    {
      featured.length > 0 && (
        <ArticleList heading="Featured." articles={featured} />
      )
    }

    <div class="mt-12">
      <ArticleList heading="Articles." articles={nonfeatured} />
    </div>

    <div class="mt-12">
      <SeriesList heading="Series." series={groupSeries(series)} />
    </div>
  </div>
</Base>

<style>
  @reference "tailwindcss";

  .article-card {
    @apply border-t border-gray-100;
  }
  .article-card:first-child {
    @apply border-none;
  }
</style>
