---
import { getCollection } from "astro:content";
import ArticleList from "@/components/page/ArticleList.astro";
import ListPage from "@/layouts/ListPage.astro";
import { sortBlogCollectionByDate } from "@/scripts/utils/collections";
import Heading from "@/components/core/Heading.astro";
import ChevronDoubleRight from "@/components/icon/ChevronDoubleRight.svg";

const articles = sortBlogCollectionByDate(await getCollection("blog"));
const latest = articles.slice(0, 5);
---

<ListPage pageTitle="Front">
  <div>
    <Heading>Latest.</Heading>
    <ArticleList articles={latest} />
    <div class="flex">
      <a
        class="block ml-auto flex-0 flex gap-1 items-center text-[14px] text-gray-400 font-light hover:text-gray-800 transition-[color]"
        href="#"
      >
        <p class="py-2">MORE...</p>
        <ChevronDoubleRight />
      </a>
    </div>
  </div>
  <div class="mt-8">
    <Heading>Featured.</Heading>
    <div>Content goes here.</div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempor
      sapien sed eros luctus, vitae varius mi pellentesque. Nam eu scelerisque
      sem. Vestibulum ante purus, placerat id sem ut, aliquam pharetra odio.
      Aliquam sit amet egestas dolor, id luctus nunc. Pellentesque gravida
      hendrerit leo, lacinia sagittis arcu cursus sed. Aenean vehicula quis
      sapien eu lobortis. Nulla sed scelerisque ante. Cras vitae volutpat massa,
      nec efficitur nunc. Nulla sapien felis, placerat non lorem nec, aliquam
      finibus nulla. Donec sollicitudin interdum fermentum. Cras augue leo,
      ornare non accumsan at, pulvinar ut ante. Sed quis ornare dui. In ac
      aliquet nisi. Nunc blandit sodales enim sit amet blandit. Sed rhoncus
      molestie ante sed imperdiet. Nullam feugiat, justo et lobortis blandit,
      dui felis commodo sem, quis interdum quam est at nisi. Integer et lacus ut
      ante porta mollis. Integer laoreet risus quis porttitor suscipit. Sed
      tincidunt luctus dolor, ac interdum justo finibus eget. Maecenas vel
      hendrerit lacus. Pellentesque tempus posuere nibh tincidunt aliquet.
      Praesent eu metus lacinia, consectetur magna vel, dictum neque. Maecenas
      ut nunc accumsan, suscipit ex lobortis, porta nisl. Sed gravida purus
      turpis, ut mollis ipsum porttitor eget. Proin euismod porta enim, nec
      imperdiet orci volutpat nec. Mauris hendrerit aliquam arcu. Donec eget
      posuere leo. Aenean elementum arcu fringilla justo euismod, vel semper
      magna aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec et tincidunt quam. Sed eget elit feugiat quam consectetur egestas
      nec vitae nisl. Fusce semper ex non blandit sollicitudin. Mauris rhoncus a
      mauris non pellentesque. Pellentesque sagittis hendrerit ornare. Duis non
      ultricies dui. Nam malesuada, felis porttitor congue malesuada, nulla
      lorem mollis nisi, eu bibendum magna diam ut nunc. Nullam fermentum
      eleifend nisl. Cras eu suscipit ex, sit amet eleifend purus. Suspendisse
      vel lacus nec ligula faucibus commodo. Nullam laoreet turpis quis bibendum
      vulputate. Integer vehicula augue lorem. Ut vel urna eros. Nulla suscipit
      ullamcorper erat, quis venenatis arcu tincidunt convallis. Fusce ac
      rhoncus dui. Proin mi nisi, facilisis vitae ligula non, tempor fermentum
      tellus. Donec ut tellus efficitur, ullamcorper neque id, bibendum metus.
      Vestibulum commodo ultricies neque, vitae lacinia velit maximus non.
      Nullam sagittis egestas massa id hendrerit. Pellentesque eget commodo est.
      Donec quis turpis rhoncus, tincidunt justo sed, pellentesque augue. Nulla
      blandit laoreet eleifend. Sed eleifend risus ac diam molestie tincidunt.
      In finibus augue justo, nec euismod urna eleifend at.
    </div>
  </div>
</ListPage>
