---
import Base from "@/layouts/Base.astro";
import ArticleCard from "@/components/page/ArticleCard.astro";
import Footer from "@/components/layout/Footer.astro";
import Heading1 from "@/components/core/Heading1.astro";
import { articles } from "@/scripts/collections";
---

<Base pageTitle="Home">
  <main class="text-gray-800">
    <div class="pt-4 border-t-8 border-gray-800">
      <Heading1><span class="font-display">Articles.</span></Heading1>
      <ul class="block my-4">
        {
          articles.map(article => {
            return (
              <li class="block border-t border-gray-100">
                <ArticleCard article={article} />
              </li>
            );
          })
        }
      </ul>
    </div>
  </main>

  <div class="mt-4">
    <Footer />
  </div>
</Base>
