---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const entries = await getCollection("blog");
  const staticPaths = entries.map(entry => ({
    params: { slug: entry.slug },
    props: { entry },
  }));

  return staticPaths;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Base pageTitle={entry.data.title}>
  <div class="space-y-5 p-3">
    <h1 class="text-xl font-bold">{entry.data.title}</h1>
    <div class="space-y-2" id="article-body">
      <Content />
    </div>
  </div>
</Base>

<style lang="scss" is:global>
  #article-body {
    h1 {
      margin-top: 3rem;

      font-weight: bold;
    }
  }
</style>
