---
import { Image } from "astro:assets";
import { getThumbnails } from "@/scripts/utils/assets";
import { formatDate } from "@/scripts/utils/formatters";

interface Props {
  title: string;
  date: Date;
  summary: string;
  thumbnail: string;
}

const { title, date, summary, thumbnail } = Astro.props;
const images = getThumbnails();
---

<div class="flex items-center gap-4">
  <div class="flex-0 w-[100px] mb-auto sm:w-[150px]">
    { 
      images[thumbnail] !== undefined && (
        <Image
          src={images[thumbnail]}
          alt="Thumbnail"
          quality="80"
          width="300"
          height="200"
          class="w-full h-full object-contain"
        />
      )
    }
  </div>

  <div class="flex-1 w-full h-full">
    <p class="text-gray-800 text-base font-semibold sm:text-lg">{title}</p>
      <div>
        <p class="text-gray-600 font-regular font-light text-sm sm:text-base">{summary}</p>
      </div>
    <p class="text-xs text-gray-400 font-serif mt-2 font-light sm:text-sm">{formatDate(date)}</p>
  </div>
</div>
