---
import type { CollectionEntry } from "astro:content";
import DropDown from "@/components/core/DropDown.astro";
import List from "@/components/core/List.astro";
import ListItem from "@/components/core/ListItem.astro";
import LinkCard from "@/components/page/card/LinkCard.astro";
import ScaleInline from "@/components/core/ScaleInline.astro";

interface Series {
  name: string;
  articles: CollectionEntry<"posts">[];
}

interface Props {
  heading: string;
  series: Series[];
}

const { series } = Astro.props;
---

<List>
  {
    series.map(({ name, articles }) => (
      <ListItem>
        <DropDown>
          <p slot="button" class="font-light text-[14pt] cursor-pointer py-4">
            <ScaleInline>
              {name}
              <span class="text-[12pt] ml-1.5">({articles.length})</span>
            </ScaleInline>
          </p>
          <ul class="block series-drop-down-list">
            {articles.map((article) => (
              <ListItem>
                <LinkCard article={article} />
              </ListItem>
            ))}
          </ul>
        </DropDown>
      </ListItem>
    ))
  }
</List>
