---
import config from "../../config";
---

<footer class="bg-gray-950 p-4">
  <h1 class="text-gray-200 font-bold text-lg font-display">{config.app.title}</h1>
  <p class="text-gray-400 text-sm">About computer science and mathematics.</p>
</footer>
