---
import Callout from "./Callout.astro";
import AltLang from "./AltLang.astro";
---

<Callout>
  <a href="https://github.com/wcho21/kal">칼</a><AltLang>Kal</AltLang>은 함수형/절차형 한국어 프로그래밍 언어 인터프리터입니다.
  자바스크립트<AltLang>JavaScript</AltLang>로 구현되어 브라우저 위에서 바로 동작할 수 있으며, 사용하기 쉬운 한국어 문법으로 코딩할 수 있게 만들어줍니다.
</Callout>
