---
import Callout from "./Callout.astro";
import AltLang from "./AltLang.astro";
---

<Callout>
  한국어 프로그래밍 언어 <a href="https://github.com/wcho21/kal">칼</a><AltLang>Kal</AltLang>은 자바스크립트<AltLang>JavaScript</AltLang>로 구현되어 브라우저 위에서 바로 동작할 수 있으며, 사용하기 쉬운 한국어 문법을 갖고 있습니다.
  <a href="https://kal-playground.rooi.dev">플레이그라운드</a>에서 바로 실제로 사용해볼 수 있습니다.
</Callout>
