---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  alt: string;
}

const { src, alt } = Astro.props;
---

<figure class="w-full block py-3">
  <div class="overflow-x-auto">
    <Image
      src={src}
      alt={alt}
      format="webp"
      quality={85}
      class="mx-auto block"
    />
  </div>
  <slot name="caption" />
</figure>
