---
import config from "@/config";
import { join } from "@/scripts/utils/paths";

interface Props {
  href: string;
}

const { href } = Astro.props;

const base = config.paths.posts;
const url = join(base, href);
---

<a href={url}><slot /></a>
