---
import Favicons from "@/components/head/Favicons.astro";
import Fonts from "@/components/head/Fonts.astro";
import GoogleAnalytics from "@/components/head/GoogleAnalytics.astro";
import Katex from "@/components/head/Katex.astro";
import OpenGraph from "@/components/head/OpenGraph.astro";
import Footer from "@/components/layout/Footer.astro";
import config from "@/config";
import type { ImageMetadata } from "astro";
import { generateTitle } from "./Base";
import "../styles/global.css";

interface Props {
  pageTitle: string;
  desc?: string;
  image?: ImageMetadata;
}
const { pageTitle, desc, image } = Astro.props;

const title = generateTitle(pageTitle, config.app.title, config.app.titleSep);
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <OpenGraph title={title} desc={desc} image={image} />
    <Favicons />
    <Fonts />
    <Katex />
    {import.meta.env.PROD && <GoogleAnalytics />}
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-screen-md px-4 md:mx-auto">
      <slot />
    </div>
  </body>
</html>
