---
import { makeTitle } from "./Base";
import FontLinks from "../components/FontLinks.astro";
import config from "../config";

interface Props {
  pageTitle: string;
}

const { pageTitle } = Astro.props;
const siteTitle = config.app.title;
const titleSep = config.app.titleSep;
const title = makeTitle(pageTitle, siteTitle, titleSep);
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <FontLinks />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- KaTeX -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.css"
      integrity="sha384-WsHMgfkABRyG494OmuiNmkAOk8nhO1qE+Y6wns6v+EoNoTNxrWxYpl5ZYWFOLPCM"
      crossorigin="anonymous"
    />

    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-screen-md md:mx-auto">
      <slot />
    </div>
  </body>
</html>
