---
import { makeTitle } from "./Base";
import Fonts from "@/components/layout/head/Fonts.astro";
import GoogleAnalytics from "@/components/layout/head/GoogleAnalytics.astro";
import OpenGraph from "@/components/layout/head/OpenGraph.astro";
import Favicons from "@/components/layout/head/Favicons.astro";
import Katex from "@/components/layout/head/Katex.astro";
import config from "@/config";

interface Props {
  pageTitle: string;
}
const { pageTitle } = Astro.props;

const siteTitle = config.app.title;
const titleSep = config.app.titleSep;
const title = makeTitle(pageTitle, siteTitle, titleSep);
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <OpenGraph />
    <Favicons />
    <Fonts />
    <Katex />
    {import.meta.env.PROD && (
      <GoogleAnalytics />
    )}

    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title}</title>
  </head>
  <body>
    <div class="max-w-screen-md px-4 md:mx-auto">
      <slot />
    </div>
  </body>
</html>
