---
import Base from "@/layouts/Base.astro";
import TopNav from "@/components/page/TopNav.astro";
import Footer from "@/components/page/Footer.astro";

interface Props {
  pageTitle: string;
  desc?: string;
  image?: ImageMetadata;
}
const { pageTitle, desc, image } = Astro.props;
---

<Base pageTitle={pageTitle} desc={desc} image={image}>
  <div class="mt-4 mb-8">
    <TopNav />
  </div>
  <div class="my-8">
    <slot />
  </div>
  <Footer class="my-8" />
</Base>
